.ta-left {
  text-align: left;
}


div.high_level_open_wrt {
  background-color: rgb(165,230,170);
  width: 400px;
  min-height: 300px;
  margin: 0 auto;

  label {
    text-align: left;
  }

  > div {
    width: 80%;
    margin: 1rem auto;
    background-color: rgb(104, 188, 37);
  }
}

div.high_level_arduino {
  background-color: rgb(120, 180, 230);
  width: 400px;
  min-height: 230px;
  margin: 0 auto;

  > div {
    width: 80%;
    margin: 1rem auto;
    background-color: rgb(47, 120, 188);

    &:last-of-type {
      background-color: rgb(180, 9, 100);
    }
  }
  
}

div.cross_build_success {
  max-width: 60%;
  margin: 0 auto;
}

div.recap_flow {
 div {
    text-align: left;

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        margin-left: #{$i * 5}rem;
      }
    }
  }
}

ul.sources_list {
  font-size: 0.8em;
  list-style: none;

  li {
    margin: 1rem 0;

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        &:before{
          content: '[#{$i}]';
          display: inline-block;
          margin-left: -48px;
        } 
      }
    }
  }
}